<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Wheel Of Randomness</title>

    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
    <script type="module" src="/static/js/main.js" defer></script>
</head>
<body>

<h1>Welcome to Wheel of Randomness</h1>
<h4>If you don't know what to watch just spin the wheel</h4>

<div class="genre-container">
    <div class="card" th:attr="category-id=${genre.getId()}" th:each="genre : ${genres}">
        <div class="card-header">
            <h4 class="category-title" th:text="${genre.getName()}"></h4>
        </div>
    </div>
</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>