<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Wheel Of Randomness</title>

    <link rel="stylesheet" type="text/css" href="/static/css/main.css"/>
    <script type="module" src="/static/js/main.js" defer></script>
</head>
<body>
<h1>Welcome to Wheel of Randomness</h1>
</body>
</html>