<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta content="Codecool" name="author"/>
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport"/>

    <title>Wheel Of Randomness</title>

    <link href="/static/css/main.css" rel="stylesheet" type="text/css"/>
    <link href="/static/css/spinner.css" rel="stylesheet" type="text/css"/>
    <script defer src="/static/js/spinner.js" type="module"></script>
    <script defer src="/static/js/scrollDown.js" type="module"></script>
</head>
<body>

<!--<div class="texts">-->
<!--    <h1 class="rainbow-text">Welcome to Wheel of Randomness</h1>-->
<!--    <h4>If you don't know what to watch just spin the wheel</h4>-->
<!--</div>-->

<div class="title-text">
    <div class="circle"></div>
    <h1><span>Welcome</span><br/><span>to the</span><br/><span>Wheel</span><br/><span>of</span><br/><span>Randomness</span></h1>
</div>

<div class="container">
    <div class="chevron"></div>
    <div class="chevron"></div>
    <div class="chevron"></div>
    <span class="text">Scroll down</span>
</div>

<div class="wheel-container">
    <div id="wheelOfFortune">
        <canvas height="700" id="wheel" width="700"></canvas>
        <div id="spin">SPIN</div>
    </div>
</div>


<div id="myModal" class="modal hidden">
    <!-- Modal content -->
    <div class="modal-content">
        <div class="close">&#10006</div>
        <div class="modal-body"><p>This has to be changed to the cart content</p></div>
    </div>
</div>


<div th:replace="footer.html :: copy"></div>

</body>
</html>