@import url(https://fonts.googleapis.com/css?family=Lobster);

body {
    background: #2B2D42;
    width: 97vw;
}

.texts, .footer {
    font-size: 30px;
    text-align: center;
    color: white;
    margin-top: 20px;
}
 .wheel-container {
     text-align: center;
     margin-top: 300px;
     margin-bottom: 100px;
 }

.texts, .footer, #wheelOfFortune {
    font-family: "Monospaced", serif;
}


/*Title*/
.title-text {
    margin-top: 200px;
    margin-bottom: 200px;
}

.circle {
    height: 300px;
    width: 300px;
    border-radius: 100%;

    background: #D34E24;
    margin: 150px auto auto;
}

h1 {
    color: #F1D302;
    text-align: center;
    line-height: 50px;
    margin-top: -350px;
    -moz-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    -webkit-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    -o-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    -ms-transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    transform: scale(1) rotate(-5deg) translateX(0px) translateY(0px) skewX(1deg) skewY(1deg);
    /*-----------------------*/
    text-shadow: 1px 1px #468189
    , 2px 2px #468189, 3px 3px #468189, 4px 4px #468189, 5px 5px #468189, 6px 6px #468189, 7px 7px #468189, 8px 8px #468189, 9px 9px #468189, 10px 10px #468189, 11px 11px #468189, 12px 12px #468189
    , 13px 13px #468189
    , 14px 14px #468189
    , 15px 15px #468189
    , 16px 16px #468189
    , 17px 17px #468189
    , 18px 18px #468189
    , 19px 19px #468189
    , 20px 20px #468189
    , 21px 21px #468189
    , 22px 22px #468189
    , 23px 23px #468189
    , 24px 24px #468189
    , 25px 25px #468189
    , 26px 26px 6px #315a5f;

}

span:nth-child(3), span:nth-child(7) {
    font-size: 60px;
}

/*Modal*/
.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.5); /* Black w/ opacity */
}

.hidden {
    display: none; /* Hidden by default */
}
/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    color: black;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 50%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


span:nth-child(1), span:nth-child(9), span:nth-child(5)  {
    font-size: 110px;
}

/* Arrow */

.container {
    cursor: pointer;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 24px;
    height: 24px;
}

.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0;
    height: 100%;
    width: 51%;
    background: #fff;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;

    }
    33% {
        opacity: 1;
        transform: translateY(30px);
    }
    67% {
        opacity: 1;
        transform: translateY(40px);
    }
    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

.text {
    display: block;
    margin-top: 75px;
    margin-left: -30px;
    font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
    font-size: 12px;
    color: #fff;
    text-transform: uppercase;
    white-space: nowrap;
    opacity: .25;
    animation: pulse 2s linear alternate infinite;
}

@keyframes pulse {
    to {
        opacity: 1;
    }
}
